<% include ./partials/header %>
<div class="jumbotron">
    <div class="container">
        <h1>Grido Helados AutoService</h1>
        <p>La manera más rapida y simple de realizar su pedido</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/productos">Comenzar</a>
        </p>
    </div>
</div>

<% include ./partials/footer %>


